    p{
        color:brown;
    }

    #p1{
        color: blueviolet;
    }
    .green-text{
        color: aqua;
    }
    #h{
        font-size: 50px;
    }
    .underline-h{
       text-decoration:underline ;
    }
        /* 
        comment
        */  